body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://bit.ly/32OZN7W");
}
.forms{
    text-align: center;
    font-weight: bold;
    color: white;
}
h1 {
    font-style: italic;
    font-weight: bolder;
    color: chartreuse;
}
h2 {
    font-size: 20px;
}